extends layout

block content

  .input
    include header
    .col-xs-12.col-md-6.col-md-offset-3
        .section
          .list-header
              .list-title
                b PATIENTS
          .list-body
            .sub-body
              table.patient-table
                tr
                  th ID
                  th NAME
                  th GENDER
                  th AGE
                tr
                  td 
                    a(href="/personal") 101
                  td Uvuvweve Ossas
                  td Male
                  td 100
                tr
                  td
                    a(href="/personal") 90
                  td Danccuu
                  td Male
                  td 50
                tr
                  td
                    a(href="/personal") 181
                  td Oneng oneng
                  td Famale
                  td 20
                tr
                  td
                    a(href="/personal") 1918
                  td Pingwin
                  td Male
                  td 28
