extends layout

block content
    
  .personal
    include header
    .list.col-xs-12.col-md-5.col-md-offset-1
      ul.regional-map
        li.north-cimahi
          a(href="#")
              span
                  strong #{kecamatan.name}
                  | Population : #{kecamatan.population}
    .list.col-xs-12.col-md-5
      .list-header
          div.list-title
            b SUMMARY
      .list-body
            .sub-body
              table
                tr
                  td 
                    .sub-title Kecamatan
                  td Cipageran
                tr
                  td
                    .sub-title Population
                  td 100.000 People
                tr
                  td
                    .sub-title Total Number of Patient
                  td 165 People
                tr
                  td
                    .sub-title Most Disease
                  td Flu, Diarrhea
            .sub-body
              table
                tr
                  td
                    .sub-title Number of Patient
                  td
                    li Flu : 100 persons (0.1%)
                    li Diarrhea : 50 persons (0.05%)
            .sub-body
              table
                tr
                  td
                    .sub-title Personal Data
                  td
                    a(href="/patient") Click Here
      .list-header
          div.list-title
            b DATA TABLE
      .list-body
            .sub-body
              .sub-title Table of Disease
              table.data-table
                tr
                  th Disease
                  th Number of Patient (Person)
                  th Percentage (%)
                tr
                  td Flu
                  td 100
                  td 0.1
                tr
                  td Diarrhea
                  td 50
                  td 0.05
                tr
                  td Cancer
                  td 10
                  td 0.01
                tr
                  td Hepatitis
                  td 5
                  td 0.005
            .sub-body
              .sub-title Table of Patient (Gender)
              table.data-table
                tr
                  th Disease
                  th Male
                  th Famale
                  th Male Percentage (%)
                  th Famale Percentage (%)
                tr
                  td Flu
                  td 50
                  td 50
                  td 0.5
                  td 0.5
                tr
                  td Diarrhea
                  td 20
                  td 30
                  td 0.4
                  td 0.6
                tr
                  td Cancer
                  td 6
                  td 4
                  td 0.6
                  td 0.4
                tr
                  td Hepatitis
                  td 4
                  td 1
                  td 0.8
                  td 0.2
            .sub-body
              .sub-title Table of Patient (Age)
              table.data-table
                tr
                  th Disease
                  th 1-15
                  th 15-30
                  th 30-50
                  th 50~
                tr
                  td Flu
                  td 5
                  td 10
                  td 5
                  td 80
                tr
                  td Diarrhea
                  td 20
                  td 10
                  td 5
                  td 5
                tr
                  td Cancer
                  td 3
                  td 2
                  td 2
                  td 3
                tr
                  td Hepatitis
                  td 0
                  td 1
                  td 2
                  td 2
