/* Main */

body {
  color: white;
  font: 11px 'Open Sans', sans-serif;
  background-color: #1B2527;
}

.index, .personal, .input{
    height: 100%;
    width: 100%;
    min-width: 550px;
}

.input {
    margin-top: 100px;
}

/* Index Page (and some of Input Page) */

.index{
    background-color: #101415;
    position: fixed;
}

.logo {
    width: auto;
    height: auto;
    margin: 35% auto;
}

.form-group.a{
    padding-bottom: 25px;
}

::-webkit-datetime-edit-text {
    color: #cfd8dc;
}

::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator:hover {
    background-color: #334142;
}

.input-field {
    margin: 6px auto;
}

.form-control {
    background-color: #334142;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    color: white;
    font-size: 11px;
}

.form-control::-webkit-input-placeholder{
    color: #cfd8dc;
}

.signup::-webkit-input-placeholder{
    color: #FFF;
}

.form-control:-moz-placeholder{
    color: #cfd8dc;
}

.form-control::-moz-placeholder{
    color: #cfd8dc;
}

.form-control:-ms-input-placeholder{
    color: #cfd8dc;
}

.submit-field{
    width: 100%;
    background-color: transparent;
    border: 0.5px rgba(255,255,255,0.7) solid;
    padding: 7px;
    font-size: 13px;
    font-weight: 600;
}

a,a:hover,a:focus{
    color: white;
    text-decoration: none !important;
}

.forgot-btn{
    float: right;
}

.forgot-btn:hover{
    border-bottom: 1px white solid;
}

.index .passport{
    font-size: 11px;
    border: none;
    background-color: #334142;
    border-bottom: 2px #000000 solid;
}

.note{
    text-align: center;
}

.note.a{
    font-size: 10px;
    border-bottom: 1px rgba(255,255,255,0.7) solid;
    padding-bottom: 2px;
}

.note.b{
    padding-top: 5px;
}

.container-fluid{
    background-color: #101415;
}

/* Personal Page */

.navbar-toggle,.navbar-toggle:hover{
    float: left;
    z-index: 2;
    background-color: transparent !important;
    border: none;
}

.icon-bar{
    background-color: white !important;
}

.navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.nav-logo{
    margin-top: -5px;
    max-height: 150%;
    max-width: 150%;
}

.navbar-default .navbar-collapse{
    border-color: transparent !important;
}

.navbar-default .navbar-nav>li>a{
    color: white !important;
}

.other-menus{
    position: fixed;
    float: right;
    right: 0;
    top: 0;
    font-size: 20px;
    margin-top: 10px;
}

.fa{
    margin-right: 20px;
}

.list{
    margin-top: 70px;
    color: #FFF;
}

.list-title{
    margin-bottom: 20px;
    width: 100%;
    font-size: 2rem;
    border-bottom: 1px #dadada solid;
}

.section {
    margin-bottom: 30px;
}

.image-container {
    width: 100%;
    margin: 0;
}

/* Physical and Regional Page */

ul.human-body, ul.regional-map {
    list-style: none;
	position: relative;
}

ul.human-body {
    width: 500px;
    height: 440px;
    background: url(/images/human-body.png) no-repeat 0 0;
    margin: 0px auto;
}

ul.regional-map {
    width: 400px;
    height: 700px;
    background: url(/images/regional.png) no-repeat 0 0;
    margin: -30px auto 0px;
}

ul.human-body li, ul.regional-map li{
    position: absolute;
}

ul.human-body li a, ul.regional-map li a{
    display: block;
    outline: none;
    height: 100%;
}

ul.human-body li a {
    background: url(/images/human-body.png) no-repeat 0 0;
}

ul.regional-map li a:hover{
    background: url(/images/regional.png) no-repeat 0 0;
}

ul.human-body li a span, ul.regional-map li a span {
    display: none;
}

ul.human-body li a:hover span, ul.regional-map li a:hover span {
    display: block;
    padding: 5px;
	width: 150px;
	background: #000;
	position: relative;
	top: 50%;
	font: 11px Arial, Helvetica, sans-serif;
	opacity: .75;
	filter:alpha(opacity=75);
	color: #FFF;
    z-index: 1;
}

ul.regional-map li a:hover span {
    left: 50%;
}

ul.human-body li a:hover span strong, ul.regional-map li a:hover span strong {
    display: block;
	margin-bottom: 2px;
	font-size: 12px;
	text-decoration: underline;
}

/* Organ */

.organ-part {
    margin-bottom: 20px;
}

.organ-part a span strong {
    display: block;
    margin-bottom: 1px;
    text-decoration: underline;
}

/* Regional Page */

.sub-body {
    margin-bottom: 20px;
}

.sub-title {
    margin-right: 15px;
    font-weight: 600;
}

.data-table {
    width: 100%;
    margin-top: 10px;
}

.data-table tr th, .data-table tr td {
    border: 1px solid #ffffff;
    padding: 5px;
}

/* Patient Page */

.patient-table {
    width: 100%;
    margin-top: 10px;
}

.patient-table tr td, .patient-table tr th {
    padding: 5px;
}

/* Responsive Settings */

@media screen and (min-width: 450px){
    body,.form-control,.passport{
        font-size: 13px;
    }
    .note.a{
        font-size: 11px;
    }
    .logo{
        margin: 10%;
    }
    .other-menus{
        margin: 10px 8% auto auto;
    }
}